
._.git
._.gitignore
._.idea
._.vscode
._assets
._index.html
._readme.md
._src
.idea/._airQuality.iml
.idea/._icon.svg
.idea/._modules.xml
.idea/._vcs.xml
.vscode/._settings.json
assets/._screenshot
assets/screenshot/._airQuality.png
src/._css
src/._icons
src/._js
src/css/._style.css
src/icons/._bad.svg
src/icons/._biodegradable.svg
src/icons/._browser.svg
src/icons/._happy.svg
src/icons/._location.svg
src/icons/._magnifying-glass.svg
src/icons/._mask.svg
src/icons/._recycling.svg
src/icons/._terrible.svg
src/icons/._thinking.svg
src/icons/._unhealthy.svg
src/js/._main.js
src/.DS_Store
src/._.DS_Store
src/logo/._airQuality.psd
src/logo/._airQualitB.png
src/logo/._airQualityIcon.png
src/logo/._airQualityB.png
src/logo/._airQualityW.png
src/logo/._airQualityW.psd
src/logo/airQuality.png
src/logo/airQuality.psd
src/logo/airQualityB.png
src/logo/airQualityW.psd
src/logo/._c07ae5c7-bbb0-478a-953b-4c4f77d55256.jpg
src/logo/c07ae5c7-bbb0-478a-953b-4c4f77d55256.jpg
