*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: #111;
  position: relative;
  background-image: linear-gradient(/*45*/330deg, /*#4ba0d9;*/ #276b08, #207fbed7, #85d9f8, #ffc200);
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.background-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.app-container {
  padding: 50px 10px 0;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 72px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #eae2d0c6;
  filter: drop-shadow(5px 5px 3px #3c33276e);

}

.information-block {
  max-width: 600px;
  margin: 0 auto;
  background-image: linear-gradient(0deg,
  rgba(255, 255, 255, .2), 
  rgba(255, 255, 255, .75), 
  rgba(255, 255, 255, .2));
  border-radius: 50px;
  padding: 40px 40px 60px;
  position: relative;
  /* box-shadow: 5px 5px 25px rgba(0,0,0,0.3); */
  filter: drop-shadow(5px 5px 3px #3c33276e);
}
.loader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: inherit;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition:
  opacity 2s ease-in-out,
  visibility .6s ease-in-out;
}
.loader.active {
  visibility: visible;
  opacity: .8;
}
.loader-logo {
  width: 800px;
  animation: loader 1.8s ease-in-out infinite;
}
@keyframes loader {
  50% {
    transform: rotate(360deg);
  }
}
.emoji {
  display: block;
  max-width: 300px;
  margin: 0 auto 10px;
  filter: drop-shadow(5px 5px 3px #3c33276e) /* ombre autour de la forme des svg et png */
  /* animation: pulse 3s ease-in-out 1s; */
}
/*@keyframes pulse {
  0% {
    transform: scale(.75);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}*/
.user-information {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}
table {
  margin-bottom: 30px;
  width: 100%;
}
table, th{
  /* border: 1px solid #34343488;
  border-collapse: collapse; éviter le chevauchement des bordures */
  text-align: left;
}
th, td {
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
}
td {
  text-align: right;
  font-weight: 900;
}
.scale-bar-text {
  font-weight: 600;
  margin-bottom: 7px;
}
.scale-container {
  width: 100%;
  display: flex;
  position: relative;
  /* filter: drop-shadow(-5px -5px 3px #3c33276e); */
  border border-radius: 5vw;
  /* animation: 3s linear 1s running slidein; */
}
.location-pointer {
  position: absolute;
  left: -15px;
  width: 30px;
  margin-top: 10px;
  /* filter: drop-shadow(-5px -5px 3px #3c33276e); */
  transform: rotate(180deg);
  transition: transform 2s ease-in-out;
}
.scale-section {
  height: 10px;
  flex-grow: 1;
  background-image:rgba(224, 211, 196, 0.25);
}
/* .scale-section:not(:last-child) { /* pas la dernière section *//*
  border-right: 3px solid rgba(255, 255, 255, .75);
} */
.scale-section:nth-child(2) {
  background-image: linear-gradient(90deg,#124000, /*green,*/ #9dff00);
}
.scale-section:nth-child(3) {
  background-image: linear-gradient(90deg,#dbff00, #ffff00, #ffc400);
}
.scale-section:nth-child(4) {
  background-image: linear-gradient(90deg,#ffc400, #ff8000, #ff7700);
}
.scale-section:nth-child(5) {
  background-image: linear-gradient(90deg, #ff7700, red, #b6006d);
}
.scale-section:nth-child(6) {
  background-image: linear-gradient(90deg,#ac1e73, #651b89/*, #2f0047*/);
  flex-grow: 1.8/*2*/; /* largeur */
}
.scale-section:nth-child(7) {
  background-image: linear-gradient(90deg, /*#2c0042,*/ #651b89, #7e2900/*, #59230a, #4e2816, #321202*/, #000);
  flex-grow: 3.75/*4*/ ;
}